.upper-style{

    background-color: rgb(240, 255, 240);
    margin-bottom: 50px;
}


ul li a{

    color: black;
}

.button-style{
    padding: 12px 28px;
    background-color: #21B573;
    border-radius: 33px;
    border: none;
    color: white;
}

.button-style:hover{

    background-image: linear-gradient(180deg, lightsalmon, tomato);
}

.line-red-color{

    color: #FD511A;
}

.word-color{
    color: #21B573;
}
.illustration-part{

   padding: 50px 0 50px 50px;

}


.box{
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 10px;
}

.box:hover{

    box-shadow: 0px 10px 40px lightgray;
    border-radius: 15px;
}
.box h3{
    font-size: 24px;
    color: #413960;
}

.box p{
    font-size: 16px;
    color: #585859;
}
/* .box-style{

    box-shadow: 0px 10px 40px lightgray;
    border-radius: 18px;
    text-align: center;
} */

.topic-test-student{

    padding: 50px 0;
}

.topic-test-student img{
    margin: 40px 0 20px;
}
.courses-align-color{

    text-align: center;
    color: rgb(65, 57, 96);
    margin-bottom: 50px;
}

.card{

    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 40px lightgray;
    
}

.card img{
    padding: 20px;
}

.card-footer{

    background-color: white;
    border-top: none;
}

.online-courses{

    margin-bottom: 100px;
}



.testimonial-middle{

    height: 100px;
    width: 700px;
    margin: 0 auto;
}

.testimonial-middle img{
    padding-right: 50px;
    height: 120px;
    width: 150px;
}

.testimonial{

    margin-bottom: 100px;
}

.testimonial h3{

    padding-bottom: 50px;
}

.footer{

    background-color: #282531;
    color: white;
    padding-top: 50px;
}

.footer h5{
    padding: 10px;
}

footer{
    text-align: center;
    padding: 20px 0;
}

a{
    color: white;
    padding: 10px;
}